title: UGent Business Informatics
# email: your-email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  The UGent Business Informatics research group is part of the department of Business Informatics and Operations Management 
  within the faculty of Economics and Business Management of Ghent University.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site
# twitter_username: jekyllrb
# github_username:  jekyll
show_excerpts: true
collections:
  - members

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
