---
layout: default
---
<article class="post">

    <header class="post-header">
      <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>
  
    <h1>Academic Staff</h1>

    {% assign members_ = site.members | where_exp: "m", "m.group == 'Academic Staff'" | sort: "order" %}
    {% for member in members_ %}
    {% include _member.html %}
    {% endfor %}

    <div class="post-content">

        <h1>Affiliated Members</h1>

        {% assign members_ = site.data.additional_members | where_exp: "m", "m.group == 'Affiliated Member'" | sort: "name" %}
        <ul>
            {% for member in members_ %}
            <li>{{ member.name }}</li>
            {% endfor %}
        </ul>

        <h1>Post-doctoral Researchers</h1>

        {% assign members_ = site.data.additional_members | where_exp: "m", "m.group == 'Post-doctoral Researcher'" | sort: "name" %}
        <ul>
            {% for member in members_ %}
            <li>{{ member.name }}</li>
            {% endfor %}
        </ul>

        <h1>PhD Students</h1>

        {% assign members_ = site.data.additional_members | where_exp: "m", "m.group == 'PhD Student'" | sort: "name" %}
        <ul>
            {% for member in members_ %}
            <li>{{ member.name }}</li>
            {% endfor %}
        </ul>

    </div>
  
  </article>